*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Inter",sans-serif;
}

.logo{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 600;

}

body{
  background: #ECE9E6;  
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); 

  color:#222;
  min-height:100vh;
  display:flex;
  flex-direction:column;
}
.topbar{
  background: #03001e;  
  background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); 
  background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); 
  color:white;
  padding:14px 18px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 3px 8px rgba(0,0,0,0.15);
}

.nav button{
  border:none;
  background:rgba(255,255,255,0.18);
  padding:6px 12px;
  border-radius:10px;
  color:white;
  cursor:pointer;
  transition:0.2s;
}

.nav button:hover{
  background:rgba(255,255,255,0.35);
}

.btn-logout{
  background:#d93636 !important;
  padding:6px 14px;
  border-radius:10px;
}
.container{
  max-width:1100px;
  margin:20px auto;
  flex:1;
  width:100%;
}

.panel{
  background:white;
  padding:18px;
  border-radius:12px;
  box-shadow:0 4px 14px rgba(0,0,0,0.1);
  margin-bottom:16px;
}

.hidden{
  display:none;
}

.form{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.form input,
.form select{
  padding:8px 10px;
  border:1px solid #ccc;
  border-radius:8px;
}

.primary{
  background:#4d6bff;
  padding:8px 12px;
  color:white;
  border:none;
  border-radius:8px;
}

.secondary{
  background:#ddd;
  padding:8px 12px;
  border-radius:8px;
}
.catalog-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:14px;
}

.catalog-item{
  background:white;
  border-radius:12px;
  padding:12px;
  box-shadow:0 3px 10px rgba(0,0,0,0.08);
  display:flex;
  flex-direction:column;
  gap:10px;
  text-align:center;
  overflow:hidden;
}
.catalog-item img{
  width:100%;
  height:160px;
  object-fit:cover;
  border-radius:12px;
  box-shadow:0 2px 6px rgba(0,0,0,0.10);
  background:#f3f3f3;
}

.cart ul{
  max-height:250px;
  overflow:auto;
}

.cart li{
  display:flex;
  justify-content:space-between;
  padding:6px 0;
  border-bottom:1px solid #eee;
}

.total{
  font-weight:700;
  margin-top:5px;
  font-size:1.1rem;
}
